.bestLogo {
  font-size: 25px;
  color: #8bc43a;
  padding: 0 5px;
}

.powerbutton {
  font-size: 19px;
  margin-bottom: 10px;
  transition: .5s;
}

.powerbutton:hover {
  color: #f5593d !important;
}

.navbar {
  padding-left: 0px;
  padding-right: 0px;
}

@media screen and (min-height: 651px) {
  .navbar {
    margin-top: 50px;
  }
}
