body {
  cursor: default !important;
  user-select: none !important;
}

[type=button]:not(:disabled) {
  cursor: default !important;
}

button:focus {
  outline: none !important;
}

a:link, input, textarea {
  cursor: default !important;
}

a:focus {
  outline: none !important;
}

/* style fabric's date picker */
.textField-87 input {
  cursor: default !important;
}
